---
layout: default
---

<div class="header">
    <h1>{{ site.name }}</h1>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="about">
    <p>
        写作用的笔名是 samizda，写过耽美小说。用别的身份做过游戏。

    </p>
</div>
<div class="blog">
    <h1>Blog Posts:</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<!--
<div class="blog">
    <h1>Codex:</h1>
    <ul>
        {% for post in site.clips %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}

    </ul>
</div>

<div class="music">
    <h1>Now Playing:</h1>
    <a href="http://www.last.fm/user/getmicah"><span id="nowPlaying"></span></a>
</div>
<script src="/assets/js/main.js"></script>
-->
