<h1> 1982制作组意见调查局 </h1>
<p>请在此处留下您对本系列游戏的建议，谢谢！</p>
<div class="issues-tips">
    {% capture content %}{% include tips.md %}{% endcapture %}
    {{ content | markdownify }}
</div>

<form method="POST" action="https://api.staticman.net/v2/entry/idelem/idelem.github.io/master/comments">
  <input name="options[redirect]" type="hidden" value="https://idelem.github.io/issues/success">
  <!-- e.g. "2016-01-02-this-is-a-post" -->
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <div class="form-message">
      <label> <input name="fields[id]" type="text" placeholder= "昵称" required="required"></label>
      <label> <input name="fields[contact]" type="email" placeholder= "联系方式（email, QQ, ...）"></label>

  <label>
      <textarea name="fields[message]" placeholder= "建议……" required="required"></textarea>
  </label>
    <button type="submit" class="issues-submit">提交</button>
</div>
</form>
