<h1 class="issues-title"> 我们已收到的报告…… </h1>
<div class="issues">
	{% assign issues = site.data.issues | sort %}
	{% for issue in issues reversed %}
		{% assign issueData = issue[1] %}
          <hr>
		  <div class="issues-id">
		  	<p>{{ issueData.id }}</p>
          </div>
          <div class="issues-date">
		  	<p>{{ issueData.date | date_to_string }}</p>
          </div>
          <div class="issues-message">
		    <p>
		      {{ issueData.message | markdownify }}
		    </p>
		  </div>
	{% endfor %}
</div>
