<form method="POST" action="https://api.staticman.net/v2/entry/idelem/idelem.github.io/master/comments">
  <input name="options[redirect]" type="hidden" value="https://idelem.github.io/issues/">
  <!-- e.g. "2016-01-02-this-is-a-post" -->
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <label> 昵称 <input name="fields[id]" type="text"></label>
  <label> 联系方式 <input name="fields[contact]" type="email"></label>
  <label> 
    <div class="form-message">
      <textarea name="fields[message]" class="form-message box"></textarea>
    </div>
  </label>

  <button type="submit">提交</button>
</form>
